<p>form works!</p>
<h1>hello</h1>
<h3>form</h3>

<!-- <label>firstname : </label>
<input type="text" placeholder="firstname"><br>
<button (click)="hero()">login</button> -->
 
<div class="card demo ">
    <div class="card-header">
        
        <h3 class="text-left">Rushi Raut </h3>
          <h6 class="text-left"> mobile no.93734567343</h6>
    </div>
        <div class="card-body">
            
             <img src="assets/bapa.jpg" alt="download" width="20%">
                <p>Gabpati Bapa Morya....
                </p>
        </div>
                </div>
        