input {
    border: 3px solid black;
    margin-bottom: 10px;
    border-radius:10px;
    color:blue;
    font-size: 20px;
    
}

div{
background-color:orange;
}
label{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
  color:darkcyan;
}
strong{
    font-size: 28px;
}
.he{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: purple;
}

